page-home {
    ion-title{
        color: white;
        background-color: darkgrey;
    }
    h2{
        color: white;
        text-align: center;
    }

    .main{
        background-color: gray;
    }
}
